/* src/components/molecules/AboutSkillNet.css */
.about-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
  }
  
  .about-container h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #143D8D; /* O el color que prefieras */
  }
  
  .about-container p {
    font-size: 1rem;
    margin-bottom: 16px;
    line-height: 1.5;
    color: #333; /* Ajusta según tu preferencia */
  }
  