/* src/components/organism/Header.css */
.header {
  background-color: #143D8D;
  width: 100%;
}

.header-container {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.logo {
  background-color: #FFFFFF;
  padding: 5px;
}
.logo img {
  display: block;
  height: 50px;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 120px;
  margin: 0;
  padding: 0;
}

.nav li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 500;
  transition: color 0.3s;
}

.nav li a .icon {
  font-size: 20px;
  margin-bottom: 2px;
}

.nav li a span {
  font-size: 14px;
}

.nav li a:hover {
  color: #00AEEF;
}

/* Contenedor y estilo del avatar */
.profile-avatar-container {
  margin-right: 14px;
}

.profile-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}


.profile-avatar-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 0.85rem;
  color: white;
}

.rol-text {
  font-size: 0.75rem;
  color: whitesmoke;
}

/* Responsive móvil: mantén tus media queries existentes */
